<!-- body of the email -->
<!DOCTYPE html>
<html>
 <head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
 </head>
 <body>
<h1>Hello</h1>
<p>
  <%= @product.product_name%>
  <%=image_tag @product.image.variant(resize: "50x50").processed.service_url%>
</p>
 </body>
</html>
