<div class="col-md-4"></div>
<div style="width:40%;" class="thumbnail col-md-6">
<div class="col-sm-12">
<h1 style="color: blue;">
  Profile
</h1>
</div>
<br>
  <div class="caption">
    <div class="row">
      <div class="col-xs-12 col-md-12">
      <p>  <label>UserName</label>    <%= user.username %></p>
      <p>  <label>Email</label>    <%= user.email %></p>
      </div>
    </div>
  </div>
</div>
