<%unless comments.empty?%>
  <br><br>
  <h1 style="color: blue;">
    Comments:
  </h1>
  <br>
  <div style="width:90%;margin:0 auto; ">
    <% comments.each do |comment| %>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong><%=comment.user.email%></strong>
            <span class="text-muted"><%=comment.created_at%></span>
          </div>
          <div class="panel-body">
            <%=comment.review%>
          </div>
        </div>
      </div>
    <%end%>

  <%end%>
