<%if user_signed_in? && !current_user.admin?%>
<h2 style="color: blue;">
  New Comment:
</h2>
<div class="col-sm-2"></div>
  <div class="col-sm-5">
    <%= form_for @comment, :url => product_comments_url(@product), :method => :post do |form| %>
    <div class="field" style="width: 50%">
      <%= form.text_area :review, :cols => 60, :rows => 4, style: "color: 	#000000;" %>
    </div>
    <div class="actions">
      <%= form.submit style: "color: 	#000000;"%>
    </div>
  <%end%>
</div>
<%end%>
